body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

.canvas1, .canvas2, .canvas3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.canvas1 {
    background-color: black;
    justify-content: center;
}

.canvas2 {    
    background-color: blue;
}

.canvas3 {
    background-color: brown;
    justify-content: center;
}

.data {
    align-self: flex-start;
}

.data p {
    margin-left: 1em;
    font-size: xx-large;
}

#towerAlly, #towerEnemy {
    height: 10em;
    width: 5em;
    position: absolute;
    bottom: 5em;
    display: flex;
    align-items: flex-end;
}

#allyTowerHp, #enemyTowerHp {
    height: 1em;
    width: 100%;
    background-color: red;
}

#towerAlly {
    background-color: yellow;
    left: 1em;
}

#towerEnemy {
    background-color: pink;
    right: 1em;
}