body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

/* Canvas */

.canvas1, .canvas2, .canvas3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.canvas1 {
    background-color: black;
    justify-content: center;
}

.canvas2 {    
    background-image: url(../assets/img/background.jpg);
    background-position: center;
    background-size: cover;

    flex-direction: column;
    justify-content: space-between;
}

.canvas3 {
    background-color: brown;
    justify-content: center;
}

/* "Navbar" and buttons */

/* Navbar */
.navbar {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(12, 2fr);
    align-items: center;
}

#settings {
    grid-column-start: 11;
}

#manaCounter {
    font-size: xx-large;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

    grid-column-start: 2;
    grid-column-end: 8;
}

/* Buttons */

.buttons {
    height: 4em;
    width: 100vw;
    
    margin-bottom: .5em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.buttons button {
    border: .1em solid black;
    padding: 0;
    margin: 0;
    margin-left: 1.2em;

    width: 4em;

    overflow: visible;

    background: rgba(255, 255, 255, 0.6);

    color: black;

    font: inherit;
    text-align: center;

    line-height: normal;
    outline: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button:hover {
    background-color: white;
    transform: scale(.95);
}

#spawn {
    width: 3em;
    height: 3em;
    background-position: center;
    background-repeat: no-repeat;

}

/* Towers */

#towerAlly, #towerEnemy {
    height: 10em;
    width: 5em;

    position: absolute;
    bottom: 5em;

    display: flex;
    align-items: flex-end;
}

#allyTowerHp, #enemyTowerHp {
    height: 1em;
    width: 5em;
    
    background-color: rgba(255, 0, 0, 0.7);
}

#towerAlly {
    left: 1em;
    transform: scaleX(-1);
    background-size: cover;
}

#towerEnemy {
    right: 1em;
    background-size: cover;
}

/* Tower Hp */

.positionHpAlly, .positionHpEnemy {
    position: absolute;
    bottom: 5em;

    height: 1em;
    width: 5em;
}

.positionHpAlly {
    left: 1em;
}

.positionHpEnemy {
    right: 1em;
}

.borderHp {
    border-radius: 15em;
    border: .1em solid black;
}
